<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @user.Dateofbirth %>
</p>

<p>
  <strong>Socialsecuritynumber:</strong>
  <%= @user.SocialSecurityNumber %>
</p>

<p>
  <strong>Totalincome:</strong>
  <%= @user.TotalIncome %>
</p>

<p>
  <strong>Totalexpenditure:</strong>
  <%= @user.TotalExpenditure %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
