<p id="notice"><%= notice %></p>

<p>
<strong>First Name:</strong>
  <%= @user.FirstName %>
</p>

<p>
<strong>Last Name:</strong>
  <%= @user.LastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>DateofBirth:</strong>
  <%= @user.DateofBirth %>
</p>

<p>
  <strong>Total Income: $</strong>
  <%= @user.TotalIncome%>
</p>

<p>
  <strong>Total Expenditure: $</strong>
  <%= @user.TotalExpenditure%>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
