<h1>Sign Up</h1>

<%= form_with model: @user, url: sign_up_path do |form|%>
    <% if form.object.errors.any? %>
    <div class = "alert alert-danger">
        <% form.object.errors.full_messages.each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <% end %>
    <div class = "mb-3"> 
        <%= form.label :FirstName, 'First Name'%>
        <%= form.text_field :FirstName, class: "form-control", placeholder: "John" %>
    </div>
    <div class = "mb-3"> 
        <%= form.label :LastName, 'Last Name'%>
        <%= form.text_field :LastName, class: "form-control", placeholder: "Doe" %>
    </div>
    <div class = "mb-3"> 
        <%= form.label :DateofBirth, 'Date of Birth'%>
        <%= form.date_field :DateofBirth, class: "form-control", placeholder: "MM/DD/YYYY" %>
    </div> 
    
    <div class = "mb-3"> 
        <%= form.label :SocialSecurityNumber, 'Social Security Number'%>
        <%= form.password_field :SocialSecurityNumber, class: "form-control", placeholder: "###-##-####"%>
    </div>   
    <div class = "mb-3"> 
        <%= form.label :email, 'Email'%>
        <%= form.text_field :email, class: "form-control", placeholder: "johndoe@oaf.com" %>
    </div>
    <div class = "mb-3">
        <%= form.label :password, 'Password'%>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    <div class = "mb-3">
        <%= form.label :password_confirmation, 'Password Confirmation'%>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>
    <div class="mb-3">
        <%= form.submit "Sign Up", class: "btn btn-primary"%>
    </div>
<% end %>