<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Transactionaccount</th>
      <th>Transactiontype</th>
      <th>Transactionamount</th>
      <th>Transactiondate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= @user.LastName, @user.FirstName %></td>
        <td><%= transaction.TransactionAccount %></td>
        <td><%= transaction.TransactionType %></td>
        <td><%= transaction.TransactionAmount %></td>
        <td><%= transaction.TransactionDate %></td>
        <td><%= link_to 'Show Account', [@user, @account] %></td>
        <td><%= link_to 'Edit Transaction', edit_user_account_transaction_path(@user, @account, transaction) %></td>
        <td><%= link_to 'Destroy Transaction', [@user, @account, transaction], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_user_account_transaction_path(@user, @account) %>
