<p id="notice"><%= notice %></p>

<p>
  <strong>Transactionaccount:</strong>
  <%= @transaction.TransactionAccount %>
</p>

<p>
  <strong>Transactiontype:</strong>
  <%= @transaction.TransactionType %>
</p>

<p>
  <strong>Transactionamount:</strong>
  <%= @transaction.TransactionAmount %>
</p>

<p>
  <strong>Transactiondate:</strong>
  <%= @transaction.TransactionDate %>
</p>

<%= link_to 'Edit', edit_user_transaction_path(@user, @transaction) %> |
<%= link_to 'Back', user_transactions_path(@user) %>
